*
{
margin:0px;
padding:0px;
}
.heading1
{
height:600px;
width:100%;
background:url("studyimage.png");
backgrpound-size:100%;
background-attachment:fixed;
}
.heading1 h1
{
color:green;
text-align:center;
font-size:50px;
}
.heading1 h2
{
height:32px;
width:300;
color:white;
text-align:center;
background-color:black;
padding:10px;
margin:auto;
position:relative;
top:300px;
}
.heading2
{
height:600px;
width:100%;
background:url("web.jpg");
backgrpound-size:100%;
background-attachment:fixed;
}
.heading2 h2
{
height:32px;
width:300;
color:white;
text-align:center;
background-color:black;
padding:10px;
margin:auto;
position:relative;
top:300px;
font-family:verdana;
}
.para1
{
color:white;
background-color:black;
font-size:20px;
padding:30px;
}
.para2
{
color:white;
background-color:black;
font-size:20px;
padding:30px;
}
.para3
{
color:white;
background-color:black;
font-size:20px;
padding:30px;
}
.heading3
{
height:600px;
width:100%;
background:url("para.jpg");
backgrpound-size:100%;
background-attachment:fixed;
}

.heading3 h2
{
height:32px;
width:300;
color:white;
text-align:center;
background-color:black;
padding:10px;
margin:auto;
position:relative;
top:300px;
font-family:verdana;
}







