*
{
margin:0px;
pading:0px;
box-sizing:border-box;
margin-top:5%;
}
body
{
background-color:pink;
}
.heading
{
text-align:center;
}
.team
{
display:flex;
text-align:center;
width:auto;
justify-content:center;
}
.member1 
{
background-color:gray;
padding:20px;
text-align:center;
margin:5px;
margin-bottom:50px;
width:300;
}
.member2
{
background-color:gray;
padding:20px;
text-align:center;
margin:5px;
margin-bottom:50px;
width:300;
}
.member3 
{
background-color:gray;
padding:20px;
text-align:center;
margin:5px;
margin-bottom:50px;
width:300;
}
.member4 
{
background-color:gray;
padding:20px;
text-align:center;
margin:5px;
margin-bottom:50px;
width:300;
}
.button
{
background-color:green;
}




